.categoryWrap:nth-of-type(odd){
  float: left;
}
.categoryWrap:nth-of-type(even){
  float: right;
}
.categories{
  font-family:"Roboto", "Arial", serif;
  padding: 0;

  .category{
    border: .1rem solid #efefef;
    background: #fbfbfb;
    padding: 0;
    margin-bottom: 3rem;

    .title{
      width: 100%;
      display: block;
      padding: 1rem 1.5rem;
      background: #f2f2f2;
      color: #000;
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    .groups{
      .group{
        .name{
          display: block;
          width: 100%;
          background: #fff;
          padding: 1rem 0;
          position: relative;

          a{
            color: #000;
            text-decoration: none;
            font-size: 1.5rem;
            padding: 0 1.5rem;
            font-weight: 300;
            width: 100%;
            display: block;
          }

          .preName{
            position: absolute;
            height: 100%;
            width: 1rem;
            top: 0;
            left: -.5rem;
          }
        }

        .groupInfo{
          display: block;
          width: 100%;
          background: transparent;
          font-size: 1.3rem;
          padding: .5rem 0 .5rem 1.5rem;

          span{
            display: block;
          }
        }
      }

      .noGroups{
        display: block;
        width: 100%;
        padding: 3rem 0;
        text-align: center;
      }
    }
  }
}