#header{
  .headerWrap{
    border-top: .5rem solid #388E3C;
    background: #4cb050;


    .title{
      display: block;
      padding: 3rem 0;
      color: #fff;
      text-decoration: none;

      .name{
        font-family: "Open Sans", "Arial", serif;
        font-weight: 400;
        font-size: 4rem;
      }

      .module{
        font-family: "Poiret One", "Arial", serif;
        font-size: 3.5rem;
      }
    }
  }
}

#bar{
  background-color: #f6f6f6;
  box-shadow: 0 .2rem .1rem 0 rgba(50,50,50, 0.3);
  margin-bottom: 2rem;

  .button{
    font-family: "Open Sans", "Arial", serif;
    font-size: 1.7rem;
    font-weight:300;
    color: #000;
    padding: .5rem;
    cursor: pointer;
    display: inline-block;
    transition: .3s ease;

    &:hover{
      background: #4cb050;
      color: #fff;
    }
  }
}