$border: .5rem solid #d2d2d2;

.panel{
  background: #efefef;
  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: none;
  height: 100px;
  position: fixed;
  transition: transform .5s ease;
  min-height: 150px;
  min-width: 150px;
  z-index: 200;
  overflow-x: hidden;
  font-family: "Open Sans", serif;
  padding: 0;

  .title{
    width: 100%;
    display: block;
    font-size: 2rem;
    color: #313131;
    text-align: center;
    padding: 1rem 0 2rem 0;
    cursor: default;
  }

  .hideBtn{
    color: $color1;
    font-size: 2.2rem;
    border-radius: 50%;
    border: .1rem solid $color1;
    height: 26px;
    width: 26px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    position: absolute;

    &:hover{

    }
  }

  .bar{
    background: #ebebeb;
    color: #555;
    padding: .5rem 1.5rem;
  }

  &.panelTop{
    border-bottom: $border;
  }
  &.panelBottom{
    border-top: $border;
  }
  &.panelLeft{
    border-right: $border;
  }
  &.panelRight{
    border-left: $border;
  }
}

#panelAccount{
  .name, .email{
    padding: .1rem 1.5rem;
    font-size: 1.2rem;
    color: #555;
    display: block;

    .index{
      color: #4cb050;
    }
  }
}