@import url(https://fonts.googleapis.com/css?family=Poiret+One|Roboto:400,300|Open+Sans:400,300,600&subset=latin,latin-ext);
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

.wrapper {
  background: #fff;
  width: 100%;
  min-height: 100%; }

.clear_float {
  clear: both; }

form {
  position: relative; }
  form .form-group {
    position: relative;
    margin-bottom: 1rem; }
    form .form-group label, form .form-group .text {
      font-weight: 400;
      height: 30px;
      line-height: 30px; }
    form .form-group input, form .form-group textarea {
      height: 30px;
      border-radius: 0;
      box-shadow: none; }
      form .form-group input:focus, form .form-group textarea:focus {
        box-shadow: 0 0 0.2rem rgba(223, 223, 223, 0.5);
        border-color: #ccc; }
    form .form-group input[type="checkbox"], form .form-group input[type="radio"] {
      display: none; }
    form .form-group .checkbox-control {
      width: 20px;
      height: 20px;
      border: .1rem solid #ccc;
      background: #fff;
      cursor: pointer;
      margin-top: 10px;
      display: block;
      transition: .2s linear; }
    form .form-group .checkbox-control[data-checked="true"] {
      background: #E0E0E0; }
    form .form-group .radio-control {
      width: 20px;
      height: 20px;
      border: .1rem solid #ccc;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      margin-top: 10px;
      transition: .2s linear;
      display: block; }
    form .form-group .radio-control[data-checked="true"] {
      background: #E0E0E0; }
    form .form-group .file-control {
      position: relative;
      overflow: hidden;
      width: 30px; }
      form .form-group .file-control i {
        color: #ccc;
        font-size: 3.5rem;
        cursor: pointer; }
      form .form-group .file-control input[type="file"] {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        font-size: .1rem;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0); }
    form .form-group textarea {
      height: 60px;
      resize: none; }
    form .form-group .error {
      border-color: #B71C1C; }
    form .form-group .submit {
      border-radius: 0;
      color: #fff;
      background: #46b74b;
      margin: 0 1.5rem; }
  form .errorBlock {
    padding: .5rem 0;
    margin: 0 1.5rem;
    color: #fff;
    background: #B71C1C;
    text-align: center; }
  form .filesPreview .previewBlock {
    width: 50px;
    height: 50px;
    border: .1rem solid #ccc;
    float: left;
    margin: 1rem .5rem 1rem 0;
    position: relative; }
    form .filesPreview .previewBlock .progressBar {
      width: 0%;
      height: 1px;
      position: absolute;
      bottom: -3px;
      background: #4CAF50;
      border: .1rem solid #4CAF50;
      border-right: .2rem;
      border-left: .2rem; }

#header .headerWrap {
  border-top: .5rem solid #388E3C;
  background: #4cb050; }
  #header .headerWrap .title {
    display: block;
    padding: 3rem 0;
    color: #fff;
    text-decoration: none; }
    #header .headerWrap .title .name {
      font-family: "Open Sans", "Arial", serif;
      font-weight: 400;
      font-size: 4rem; }
    #header .headerWrap .title .module {
      font-family: "Poiret One", "Arial", serif;
      font-size: 3.5rem; }

#bar {
  background-color: #f6f6f6;
  box-shadow: 0 0.2rem 0.1rem 0 rgba(50, 50, 50, 0.3);
  margin-bottom: 2rem; }
  #bar .button {
    font-family: "Open Sans", "Arial", serif;
    font-size: 1.7rem;
    font-weight: 300;
    color: #000;
    padding: .5rem;
    cursor: pointer;
    display: inline-block;
    transition: .3s ease; }
    #bar .button:hover {
      background: #4cb050;
      color: #fff; }

.categoryWrap:nth-of-type(odd) {
  float: left; }

.categoryWrap:nth-of-type(even) {
  float: right; }

.categories {
  font-family: "Roboto", "Arial", serif;
  padding: 0; }
  .categories .category {
    border: .1rem solid #efefef;
    background: #fbfbfb;
    padding: 0;
    margin-bottom: 3rem; }
    .categories .category .title {
      width: 100%;
      display: block;
      padding: 1rem 1.5rem;
      background: #f2f2f2;
      color: #000;
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 300;
      margin-bottom: 1rem; }
    .categories .category .groups .group .name {
      display: block;
      width: 100%;
      background: #fff;
      padding: 1rem 0;
      position: relative; }
      .categories .category .groups .group .name a {
        color: #000;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 0 1.5rem;
        font-weight: 300;
        width: 100%;
        display: block; }
      .categories .category .groups .group .name .preName {
        position: absolute;
        height: 100%;
        width: 1rem;
        top: 0;
        left: -.5rem; }
    .categories .category .groups .group .groupInfo {
      display: block;
      width: 100%;
      background: transparent;
      font-size: 1.3rem;
      padding: .5rem 0 .5rem 1.5rem; }
      .categories .category .groups .group .groupInfo span {
        display: block; }
    .categories .category .groups .noGroups {
      display: block;
      width: 100%;
      padding: 3rem 0;
      text-align: center; }

.panel {
  background: #efefef;
  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: none;
  height: 100px;
  position: fixed;
  transition: transform .5s ease;
  min-height: 150px;
  min-width: 150px;
  z-index: 200;
  overflow-x: hidden;
  font-family: "Open Sans", serif;
  padding: 0; }
  .panel .title {
    width: 100%;
    display: block;
    font-size: 2rem;
    color: #313131;
    text-align: center;
    padding: 1rem 0 2rem 0;
    cursor: default; }
  .panel .hideBtn {
    color: #4caf50;
    font-size: 2.2rem;
    border-radius: 50%;
    border: 0.1rem solid #4caf50;
    height: 26px;
    width: 26px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    position: absolute; }
  .panel .bar {
    background: #ebebeb;
    color: #555;
    padding: .5rem 1.5rem; }
  .panel.panelTop {
    border-bottom: 0.5rem solid #d2d2d2; }
  .panel.panelBottom {
    border-top: 0.5rem solid #d2d2d2; }
  .panel.panelLeft {
    border-right: 0.5rem solid #d2d2d2; }
  .panel.panelRight {
    border-left: 0.5rem solid #d2d2d2; }

#panelAccount .name, #panelAccount .email {
  padding: .1rem 1.5rem;
  font-size: 1.2rem;
  color: #555;
  display: block; }
  #panelAccount .name .index, #panelAccount .email .index {
    color: #4cb050; }

.dim {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

/*# sourceMappingURL=app.css.map */
