<?php if(isset($this->data) && !empty($this->data)): ?>
    <div class="categoryWrap col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="category">
        <span class="title">
            <?= $this->data['Category']['name']; ?>
        </span>
            <div class="groups">
                <?php if(isset($this->data['Category']['groups']) && !empty($this->data['Category']['groups'])): ?>
                    <?php foreach($this->data['Category']['groups'] AS $group): ?>
                        <?php $this->partial("groupBox", ['data' => $group, 'color' => $this->data['Category']['color']]); ?>
                    <?php endforeach; ?>
                <?php else: ?>
                    <span class="noGroups">Niestety, nie dodano jeszcze żadnych grup ani tematów.</span>
                <?php endif; ?>
            </div>
        </div>
    </div>
<?php endif; ?>
