<?php if(isset($this->data) && !empty($this->data)): ?>
    <div class="row">
        <div class="group col-lg-12">
            <span class="name">
                <span class="preName" style="background-color: <?= $this->color; ?>"></span>

                <a href="<?= $this->route("group", ['groupId' => $this->data['Group']['id'], 'groupUrl' => $this->data['Group']['url']]); ?>">
                    <?= $this->data['Group']['name']; ?>
                </a>
            </span>
            <div class="groupInfo">
                <span class="lastPost">Ostatni post: <a href="#" style="color: <?= $this->color; ?>">Przykładowy post</a></span>
                <span class="threadsCount">Ilość tematów: 2</span>
                <span class="postsCount">Ilość postów: 1352</span>
            </div>
        </div>
    </div>

<?php endif; ?>
