<div id="header">
    <div class="container-fluid headerWrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <a href="<?= $this->url("home"); ?>" class="title">
                        <span class="name">FF</span>
                        <span class="module">Forum</span>
                    </a>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="bar">
    <div class="container-fluid headerWrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="button" id="showAccount">Moje konto</span>
                    <span class="button" id="showMessages">Wiadomości</span>
                    <span class="button" id="showNewestPosts">Najnowsze posty</span>
                    <span class="button" id="showHelp">Pomoc</span>
                </div>
            </div>
        </div>
    </div>
</div>