<div data-fluid="element: panel, title: Moje konto, hideEmitter: #hideAccount, showEmitter: #showAccount, touchShow: true" id="panelAccount" class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
    <span id="hideAccount"></span>

    <?php if($this->Auth->isLogged()): ?>
        <div class="bar">Dane ogólne</div>
        <div class="userData">
            <span class="name">
                <span class="index">Nazwa użytkownika:</span>
                <?= $this->Auth->name; ?>
            </span>
            <span class="email">
                <span class="index">Email:</span>
                <?= $this->Auth->email; ?>
            </span>
        </div>

    <?php else: ?>
        <span id="openLogin">
            Otwórz panel logowania
        </span>
        <span id="openRegister">
            Otwórz panel rejestracji
        </span>
    <?php endif; ?>
</div>