<div data-fluid="element: panel, title: Zarejestruj się, hideEmitter: #hideRegister, showEmitter: #openRegister, touchShow: true" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <span id="hideRegister"></span>

    <?php $this->formRegister->begin(); ?>
    <?php $this->formRegister->field("UserLogin")->label()->textInput()->render(); ?>
    <?php $this->formRegister->field("UserEmail")->label()->textInput()->render(); ?>
    <?php $this->formRegister->field("UserPassword")->label()->passwordInput()->render(); ?>
    <?php $this->formRegister->field("UserPassword_confirm")->label()->passwordInput()->render(); ?>

    <?php $this->formRegister->submit(); ?>
    <?php $this->formRegister->end(); ?>
</div>