<div data-fluid="element: panel, title: Zaloguj się, hideEmitter: #hideLogin, showEmitter: #openLogin, touchShow: true" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <span id="hideLogin"></span>

    <?php $this->formLogin->begin(); ?>
        <?php $this->formLogin->field("UserLogin")->label()->textInput()->render(); ?>
        <?php $this->formLogin->field("UserPassword")->label()->passwordInput()->render(); ?>

        <?php $this->formLogin->submit(); ?>
    <?php $this->formLogin->end(); ?>
</div>