<html>
    <?php $this->partial('head'); ?>

    <body>
        <div class="wrapper" id="authorization">
            <header class="container-fluid header">
                <h5 class="welcomeText">Panel zarządzania</h5>
            </header>
            <div class="container-fluid content">
                <div class="row">
                    <?php $this->renderContent(); ?>
                </div>
            </div>
            <footer class="container-fluid footer"></footer>
        </div>
    </body>
</html>
