<html>
    <?php $this->partial('head'); ?>

    <body>
        <div class="wrapper" id="default">
            <?php $this->partial('header'); ?>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 menu">
                        <?= $this->partial("menu"); ?>
                    </div>
                    <div class="col-lg-10 content">
                        <?php $this->renderContent(); ?>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
