<html>
<head>
    <style>
        body,html{
            background: #000;
            width: 100%;
            height: 100%;
            color: #3aff00;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h3{
            font-size: 50px;
        }
    </style>
</head>