<div class="row">
    <span class="categoriesText col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?= $this->t("Wybierz jedną z poniższych kategorii"); ?>
    </span>
    <div class="categoriesBubbles col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
        <?php
            foreach($this->categories AS $category){
                $bubbles = new \App\Cms\BubblePlugin($category);
                $bubbles->render();
            }
        ?>
    </div>
    <span class="categoriesText col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?= $this->t("lub przejdź do ustawień"); ?>
    </span>
    <div class="categoriesBubbles col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
        <?php
            $bubbleSetting = [
                    'Categories' => [
                        'css_icon' => 'fa-cog',
                        'css_size' => 128,
                        'css_color' => "607D8B",
                        'url' => '/manage/settings',
                    ]
            ];

            $bubble = new \App\Cms\BubblePlugin($bubbleSetting);
            $bubble->render();
        ?>
    </div>
</div>
