<header class="header container-fluid">
    <a href="/manage" class="title"><?= $this->t("Panel Administracyjny"); ?></a>
    <div class="user">
        <?php
            $userSettings = $this->userData['settings'];
        ?>
        <?php   if(isset($userSettings['image']) && !empty($userSettings['image'])): ?>
                    <span id="userListEmitter" class="avatar" style="<?= 'background-image: '.$userSettings['image']; ?>"></span>
        <?php   elseif(isset($userSettings['color']) && !empty($userSettings['color'])): ?>
                    <span id="userListEmitter" class="avatar" style="<?= 'border-color: #'.$userSettings['color']. '; background-color: #'.$userSettings['color']; ?>">
                        <span class="first_letter">
                            <?= ucfirst(substr($this->userData['name'], 0, 1)); ?>
                        </span>
                    </span>
        <?php   endif; ?>

        <ul id="userList" data-fluid="element: list, canHide: true, emitter: #userListEmitter">
            <li class="special">
                <span class="name">
                    <?= $this->userData['name']; ?>
                </span>
                <span class="email">
                    <?= $this->userData['email']; ?>
                </span>
            </li>
            <li>
                <a href="/"><?= $this->t('Strona główna'); ?></a>
            </li>
            <li>
                <a href="/manage/logout"><?= $this->t('Wyloguj'); ?></a>
            </li>
            <li>
                <a href="/manage/settings"><?= $this->t('Ustawienia'); ?></a>
            </li>
        </ul>
    </div>
    <span class="clear_float"></span>
</header>