<head>
    <meta charset="UTF-8">
    <meta name="author" content="Paweł Mrowiec">
    <meta name="keywords=" content="<?= $this->getKeywords(); ?>">
    <meta name="description" content="<?= $this->getDescription(); ?>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><?= $this->getTitle(); ?></title>

    <?= $this->getStyles(); ?>
    <?= $this->getScripts(); ?>
</head>