<ul class="menu">
    <?php foreach ($this->menuData as $row): ?>
        <li>
            <?php
                $bubble = new \App\Cms\BubblePlugin($row);
                $bubble->render();
            ?>
            <a href="<?= $row['Categories']['url']; ?>" class="name">
                <span>
                    <?= $row['Categories']['name']; ?>
                </span>
            </a>
        </li>

    <?php endforeach; ?>
</ul>