<html>
    <?php $this->partial('head'); ?>
    <body>
        <div class="wrapper">
            <?php $this->partial('header'); ?>
            <?php $this->renderContent(); ?>
        </div>
        <?php $this->partial('panelAccount'); ?>

        <?php if($this->Auth->isLogged() === false): ?>
            <?php $this->partial('panelRegister', ['formRegister' => $this->formRegister]); ?>
            <?php $this->partial('panelLogin', ['formLogin' => $this->formLogin]); ?>
        <?php endif; ?>
    </body>
</html>
