@keyframes changeBackgroundHeaderColor {
  00%{
    background-color: #673AB7;
    border-color: #512DA8;
  }
  20%{
    background-color: #3F51B5;
    border-color: #303F9F;
  }
  40%{
    background-color: #2196F3;
    border-color: #1976D2;
  }
  60%{
    background-color: #4CAF50;
    border-color: #388E3C;
  }
  80%{
    background-color: #FF5722;
    border-color: #E64A19;
  }
  100%{
    background-color: #F44336;
    border-color: #D32F2F;
  }
}
@keyframes changeShadows{
  0%{
    box-shadow: 0 0 0 rgba(50,50,50,0.5);
  }
  50%{
    box-shadow: 0 0 1.5rem rgba(50,50,50,0.5);
  }
  100%{
    box-shadow: 0 0 0 rgba(50,50,50,0.5);
  }
}
@keyframes listOpen{
  0%{
    opacity: 0;
    @include translateY(0);
  }
  100%{
    opacity: 1;
    @include translateY(5px);
  }
}

@mixin changeShadows(){
  -webkit-animation: changeShadows 10s linear 1s infinite;
  -moz-animation: changeShadows 10s linear 1s infinite;
  -o-animation: changeShadows 10s linear 1s infinite;
  animation: changeShadows 10s linear 1s infinite;
}

