#authorization{
  font-family: "Lato", serif;

  .header{
    width: 100%;
    height: 200px;
    border-top: 1.5rem solid #512DA8;
    background: #673AB7;
    position: relative;
    box-shadow: 0 .1rem .7rem rgba(50,50,50,0.5);
    animation: changeBackgroundHeaderColor 50s ease 2s infinite alternate;

    .welcomeText{
      color: #fff;
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.2rem;
    }
  }

  .content{
    padding-bottom: 5rem;

    .form{
      padding-top: 3rem;
      background: #FAFAFA;
      box-shadow: 0 .1rem .7rem rgba(50,50,50,0.5);
      margin-top: 1rem;
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #E0E0E0 url("/images/logo_dark.png") center center no-repeat;

    box-shadow: 0 -.1rem .7rem rgba(50,50,50,0.5);

    .row{
      padding: 1rem;
    }
  }
}