#default{
  background-color: #f8f8f8;

  .categoriesText{
    @include font("Roboto", 100);
    text-align: center;
    font-size: 4rem;
    margin: 10rem 0 1rem 0;
  }

  .categoriesBubbles{
    text-align: center;
    .bubble{
      @include changeShadows();
      $size: 64;

      border-radius: 50%;
      position: relative;
      width: $size+px;
      height: $size+px;
      display: inline-block;
      margin: 1rem;

      a{
        color: #fff;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
      }

      .title{
        font-size: 1.3rem;
      }

      .icon{
        font-size: $size+px;
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%,-50%);
      }

      &.size64{
        $size: 64;
        width: $size+px;
        height: $size+px;

        .icon{
          font-size: $size/2+px;
        }
      }
      &.size128{
        $size: 128;
        width: $size+px;
        height: $size+px;

        .icon{
          font-size: $size/2+px;
        }
      }
    }
  }
}