.fileManager{
  padding: 1rem;

  .wrapBlock{
    border: .2rem solid #555;
    border-radius: 10px;
    overflow: hidden;
  }

  .header{
    border: none;
    padding: .5rem;

    .navigationBlock{
      width: 10%;
      float: left;
      display: block;

      @media (max-width: $breakSM){
        width: 50%;
      }

      .prevButton, .nextButton, .homeButton{
        @include buttonCircle();
        display: inline-block;
        margin: 0 .5rem;
      }

      .homeButton{
        .icon{
          font-size: 1.5rem;
        }
      }
    }
    .breadcrumsBlock{
      display: inline-block;
      width: 60%;
      height: 24px;
      padding: 0 1rem;
      float: left;

      .breadcrumsElm{
        display: block;
        width: 100%;
        height: 24px;
      }

      @media (max-width: $breakSM){
        display: none;
      }
    }
    .buttonsBlock{
      width: 30%;
      float: left;
      text-align: right;
      padding: 0 1rem;
      display: block;

      @media (max-width: $breakSM){
        width: 50%;
      }

      .settingsButton, .addFolderButton, .pasteButton, .fileControl{
        @include buttonCircle();
        display: block;
        float: right;
        margin: 0 .5rem;

        .icon{
          font-size: 1.2rem;
        }
      }

      .settingsButton{
        background-color: #F44336;

        &:hover{
          background-color: #D32F2F;
        }

        .icon{
          color: #fff;
        }
      }

      .addFolderButton{
        background-color: #FFD600;

        &:hover{
          background-color: #FBC02D;
        }

        .icon{
          color: #000;
        }
      }

      .uploadForm{
        padding: 0;
        margin: 0 .5rem;
        display: block;
        position: relative;
        float: right;

        .fileControl{
          background: #4CAF50;
          width: auto;
          height: auto;
          margin: 2px 0 0 0;
          padding: .4rem .5rem;

          &:hover{
            background-color: #388E3C;
          }

          .icon{
            color: #fff;
          }
        }

        input[type="file"]{
          position: absolute;
          margin: 0;
          padding: 0;
          top:0;
          left: 0;
          font-size: .1rem;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
          width:24px;
          height: 24px;
        }
      }

      .pasteButton{
        background: #3F51B5;

        &:hover{
          background-color: #303F9F;
        }

        .icon{
          color: #fff;
        }
      }
    }
  }

  .columns{
    background: #fff;
    border: .1rem solid #ccc;
    border-left: none;
    border-right: none;
    width: 100%;
    min-height: 2rem;
  }

  .content{
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    transition: .3s linear;
    border-top: .1rem solid #ccc;

    .element{
      border-bottom: .1rem solid #e7e7e7;
      padding: .5rem 0;
      cursor: pointer;

      .elementThumbWrap{
        text-align: center;
        position: relative;

        img{
          padding: 1rem;
          max-height: 100%;
          margin: 0 auto;

          @media(max-width: $breakXS){
            padding: 0 2rem 0 0;
            position: absolute;
            top: 50%;
            @include translateY(-50%);
          }
        }

        i{
          position: absolute;
          top: 50%;
          @include translateY(-50%);
        }
      }

      .elementNameWrap{
        position: relative;

        span{
          position: absolute;
          top: 50%;
          word-break: break-word;
          @include translateY(-50%);
          @media(max-width: $breakXS){
            padding-right: 1rem;
          }
        }
      }

      .elementSizeWrap{
        span{
          position: absolute;
          top: 50%;
          @include translateY(-50%);
        }
      }

      &.file{

      }

      &.folder{

      }

      &.copy{
        border-left: .2rem solid #FF5722;
      }
      &.move{
        border-left: .2rem solid #009688;
      }

      &.row{
        margin: 0;
      }

      &.selected{
        background: #fafafa;
      }

      &>div{
        height: 40px;

        @media(max-width: $breakXS){
          height: auto;
          min-height: 60px;
        }
      }
    }

    .emptyContent{
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%,-50%);

      .emptyIcon{
        font-size: 4rem;
        margin: 1rem;
      }

      .emptyText{
        font-size: 3rem;
        font-weight: 300;
      }
    }
  }
}