/*
    name: Default,
    author: Paweł Mrowiec,
    verison: 0.1
*/

/* variables */

/* Fluid Elements - Animations */


/* Fluid Elements - Modal */
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    overflow: auto;
    display: initial;
    min-width: 200px;
    min-height: 100px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: none;
    border: .2rem solid #555;
    border-radius: 10px;
    background: #fff;
    outline: none;
    @include translate3d(-50%,-50%, 0);

    
    .modal-header{
        padding: .5rem;
        background: #f3f3f3;
        color: #000;
        position: relative;
        
        .modal-actions{
            position: relative;
            @include translateY(15%);
            float:right;
            
            .action{
                border-radius: 50%;
                display: inline-block;
                width: 15px;
                height: 15px;
                transition: .3s ease;
                cursor: pointer;
                margin: 0 2px 0 10px;
                float: left;
            }
            
            .close, .hide{
                display: block !important;
                background: #E53935;
                opacity: 1;
                
                &:hover{
                    background: #D32F2F;
                }
            }
            
            .minimize{
                background: #2196F3;
                
                &:hover{
                    background: #1976D2;
                }
            }
            
            .maximize{
                background: #4CAF50;
                
                &:hover{
                    background: #388E3C;
                }
            }
        }
    }
    
    .modal-content{
        padding: 1rem;
        box-shadow: none;
        outline: none;
        border: none;
        border-radius: 0;

        .text-center{
            display: block;
            width: 100%;
            text-align: center;
        }

        .promptValue{
            display: block;
            width: 100%;
            margin: 1rem 0;
            box-shadow: none;
            border-radius: 0;
            border: .1rem solid #ccc;
            padding: .5rem;
        }

        .promptSendButton{
            @include button();
        }
    }
}