.header{
  background: #fff;
  color: #000;
  border-bottom: .2rem solid #555;
  @include font("Lato");

  .title{
    float:left;
    font-size: 1.8rem;
    padding: .5rem 1rem;
    color: #555;
    text-decoration: none;
  }

  .user{
    float:right;

    .avatar{
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      margin: 2px 0;
      background: #fff;
      border: .2rem solid #fff;

      .first_letter{
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -55%);
        font-size: 2rem;
        color: #fff;
      }

      &::selection, & *::selection{
        background-color: transparent;
      }
    }

    #userList{
      .name, .email{
        width: 100%;
        display: block;
        font-size: 1.7rem;
      }

      .email{
        font-size: 1.3rem;
      }
    }
  }
}