.list{
  position: absolute;
  right: 1rem;
  padding: 0;
  border: .2rem solid #555;
  margin-top: .5rem;
  border-radius: 10px;
  width: 160px;
  overflow: hidden;
  z-index: 999;
  display: none;

  li{
    list-style: none;
    background: #fff;
    cursor: default;

    a{
      text-decoration: none;
      color: #000;
      width: 100%;
      display: block;
      padding: .5rem 1.5rem;
      transition: .2s ease;

      &:hover{
        background: #ccc;
      }

      &:active{
        background: #555;
        color: #fff;
      }
      &:focus {
        outline:none !important;
      }
    }

    &.special{
      background: #f3f3f3;
      padding: 1rem 1.5rem;
    }
  }

  &::selection, & *::selection{
    background: transparent;
    color: inherit;
  }
}

.listOpen{
  display: block;
  -webkit-animation: listOpen .3s;
  -moz-animation: listOpen .3s;
  animation: listOpen .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.listClose{
  display: none;
}