.menu{
  padding: 1rem 0 0 1.5rem;
  margin: 0;

  li{
    list-style-type: none;
    display:  block;
    width: 100%;
    margin: .5rem 0;

    & > a{
      text-decoration: none;
      display: block;
    }
  }
  .bubble{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    display: block;
    float: left;
    margin-right: 1rem;

    a{
      color: #fff;
    }

    .icon{
      font-size: 1.5rem;
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate(-50%,-50%);
    }
  }
  .name{
    position: relative;
    display: block;
    height: 32px;
    line-height: 32px;
    color: #555;

    &:focus {
      outline:none !important;
    }
  }
}