@mixin translate($x,$y){
    -webkit-transform: translate($x,$y);
    -moz-transform: translate($x,$y);
    -ms-transform: translate($x,$y);
    -o-transform: translate($x,$y);
    transform: translate($x,$y);
}

@mixin translateX($x){
    -webkit-transform: translateX($x);
    -moz-transform: translateX($x);
    -ms-transform: translateX($x);
    -o-transform: translateX($x);
    transform: translateX($x);
}

@mixin translateY($y){
    -webkit-transform: translateY($y);
    -moz-transform: translateY($y);
    -ms-transform: translateY($y);
    -o-transform: translateY($y);
    transform: translateY($y);
}

@mixin translate3d($x,$y,$z){
    -webkit-transform: translate3d($x,$y,$z);
    -moz-transform: translate3d($x,$y,$z);
    -ms-transform: translate3d($x,$y,$z);
    -o-transform: translate3d($x,$y,$z);
    transform: translate3d($x,$y,$z);
}

@mixin rotate($deg){
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin font($font:"Roboto", $weight: 400){
    font-family: $font, "Arial", serif;
    font-weight: $weight;
}

@mixin buttonCircle($bgColor: #E0E0E0, $color: #000, $size: 24){
    transition: .3s ease;
    width: $size+px;
    height: $size+px;
    display: block;
    cursor: pointer;
    position: relative;
    background-color: $bgColor;
    color: $color;
    border-radius: 50%;
    text-decoration: none;

    .icon{
        font-size: 1.8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);
        text-decoration: none;
        color: $color;

        &::-moz-focus-inner {
            border: 0;
        }
    }

    &.active{
        background: #555;
        color: #fff;
    }

    &:hover{
        background: #BDBDBD;
    }

    &::selection, &::-moz-selection{
        background: transparent;
    }

    &:focus {
        outline:none !important;
    }
}

@mixin button($bgColor: #E0E0E0, $color: #000, $bgColorH: #BDBDBD, $colorH: #000){
    transition: .3s ease;
    min-width: 100px;
    display: block;
    cursor: pointer;
    position: relative;
    background-color: $bgColor;
    color: $color;
    outline: none;
    border: none;
    box-shadow: none;
    padding: .5rem;
    text-decoration: none;

    .icon{
        font-size: 1.8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);
        text-decoration: none;
        color: $color;

        &::-moz-focus-inner {
            border: 0;
        }
    }

    &.active{
        background: #555;
        color: #fff;
    }

    &:hover{
        background: $bgColorH;
        color: $colorH;
    }

    &::selection, &::-moz-selection{
        background: transparent;
    }

    &:focus {
        outline:none !important;
    }
}

