.button{
  transition: .3s ease;
  min-width: 80px;
  padding: .5rem 1.5rem;
  text-align: center;
  display: block;
  cursor: pointer;

  &:hover{
    background: #BDBDBD;
  }

  &::selection{
    background: transparent;
  }
}

.clear_float, .clearFloat{
  clear: both;
}