@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500|Lato:400,300,700&subset=latin,latin-ext);
.button {
  transition: .3s ease;
  min-width: 80px;
  padding: .5rem 1.5rem;
  text-align: center;
  display: block;
  cursor: pointer; }
  .button:hover {
    background: #BDBDBD; }
  .button::selection {
    background: transparent; }

.clear_float, .clearFloat {
  clear: both; }

@keyframes changeBackgroundHeaderColor {
  00% {
    background-color: #673AB7;
    border-color: #512DA8; }
  20% {
    background-color: #3F51B5;
    border-color: #303F9F; }
  40% {
    background-color: #2196F3;
    border-color: #1976D2; }
  60% {
    background-color: #4CAF50;
    border-color: #388E3C; }
  80% {
    background-color: #FF5722;
    border-color: #E64A19; }
  100% {
    background-color: #F44336;
    border-color: #D32F2F; } }
@keyframes changeShadows {
  0% {
    box-shadow: 0 0 0 rgba(50, 50, 50, 0.5); }
  50% {
    box-shadow: 0 0 1.5rem rgba(50, 50, 50, 0.5); }
  100% {
    box-shadow: 0 0 0 rgba(50, 50, 50, 0.5); } }
@keyframes listOpen {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); } }
/*
    name: Default,
    author: Paweł Mrowiec,
    verison: 0.1
*/
/* variables */
/* Fluid Elements - Animations */
/* Fluid Elements - Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  overflow: auto;
  display: initial;
  min-width: 200px;
  min-height: 100px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: none;
  border: .2rem solid #555;
  border-radius: 10px;
  background: #fff;
  outline: none;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }
  .modal .modal-header {
    padding: .5rem;
    background: #f3f3f3;
    color: #000;
    position: relative; }
    .modal .modal-header .modal-actions {
      position: relative;
      -webkit-transform: translateY(15%);
      -moz-transform: translateY(15%);
      -ms-transform: translateY(15%);
      -o-transform: translateY(15%);
      transform: translateY(15%);
      float: right; }
      .modal .modal-header .modal-actions .action {
        border-radius: 50%;
        display: inline-block;
        width: 15px;
        height: 15px;
        transition: .3s ease;
        cursor: pointer;
        margin: 0 2px 0 10px;
        float: left; }
      .modal .modal-header .modal-actions .close, .modal .modal-header .modal-actions .hide {
        display: block !important;
        background: #E53935;
        opacity: 1; }
        .modal .modal-header .modal-actions .close:hover, .modal .modal-header .modal-actions .hide:hover {
          background: #D32F2F; }
      .modal .modal-header .modal-actions .minimize {
        background: #2196F3; }
        .modal .modal-header .modal-actions .minimize:hover {
          background: #1976D2; }
      .modal .modal-header .modal-actions .maximize {
        background: #4CAF50; }
        .modal .modal-header .modal-actions .maximize:hover {
          background: #388E3C; }
  .modal .modal-content {
    padding: 1rem;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0; }
    .modal .modal-content .text-center {
      display: block;
      width: 100%;
      text-align: center; }
    .modal .modal-content .promptValue {
      display: block;
      width: 100%;
      margin: 1rem 0;
      box-shadow: none;
      border-radius: 0;
      border: .1rem solid #ccc;
      padding: .5rem; }
    .modal .modal-content .promptSendButton {
      transition: .3s ease;
      min-width: 100px;
      display: block;
      cursor: pointer;
      position: relative;
      background-color: #E0E0E0;
      color: #000;
      outline: none;
      border: none;
      box-shadow: none;
      padding: .5rem;
      text-decoration: none; }
      .modal .modal-content .promptSendButton .icon {
        font-size: 1.8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: #000; }
        .modal .modal-content .promptSendButton .icon::-moz-focus-inner {
          border: 0; }
      .modal .modal-content .promptSendButton.active {
        background: #555;
        color: #fff; }
      .modal .modal-content .promptSendButton:hover {
        background: #BDBDBD;
        color: #000; }
      .modal .modal-content .promptSendButton::selection, .modal .modal-content .promptSendButton::-moz-selection {
        background: transparent; }
      .modal .modal-content .promptSendButton:focus {
        outline: none !important; }

form {
  font-family: "Lato", serif;
  padding: 1rem;
  position: relative; }
  form .form-group {
    position: relative; }
    form .form-group label, form .form-group .text {
      font-weight: 400;
      height: 40px;
      line-height: 40px; }
    form .form-group input, form .form-group textarea {
      height: 40px;
      border-radius: 0;
      box-shadow: none; }
      form .form-group input:focus, form .form-group textarea:focus {
        box-shadow: 0 0 0.2rem rgba(223, 223, 223, 0.5);
        border-color: #ccc; }
    form .form-group input[type="checkbox"], form .form-group input[type="radio"] {
      display: none; }
    form .form-group .checkbox-control {
      width: 20px;
      height: 20px;
      border: .1rem solid #ccc;
      background: #fff;
      cursor: pointer;
      margin-top: 10px;
      display: block;
      transition: .2s linear; }
    form .form-group .checkbox-control[data-checked="true"] {
      background: #E0E0E0; }
    form .form-group .radio-control {
      width: 20px;
      height: 20px;
      border: .1rem solid #ccc;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      margin-top: 10px;
      transition: .2s linear;
      display: block; }
    form .form-group .radio-control[data-checked="true"] {
      background: #E0E0E0; }
    form .form-group .file-control {
      position: relative;
      overflow: hidden;
      width: 30px; }
      form .form-group .file-control i {
        color: #ccc;
        font-size: 3.5rem;
        cursor: pointer; }
      form .form-group .file-control input[type="file"] {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        font-size: .1rem;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0); }
    form .form-group textarea {
      height: 80px;
      resize: none; }
    form .form-group .error {
      border-color: #B71C1C; }
  form .filesPreview .previewBlock {
    width: 50px;
    height: 50px;
    border: .1rem solid #ccc;
    float: left;
    margin: 1rem .5rem 1rem 0;
    position: relative; }
    form .filesPreview .previewBlock .progressBar {
      width: 0%;
      height: 1px;
      position: absolute;
      bottom: -3px;
      background: #4CAF50;
      border: .1rem solid #4CAF50;
      border-right: .2rem;
      border-left: .2rem; }

.list {
  position: absolute;
  right: 1rem;
  padding: 0;
  border: .2rem solid #555;
  margin-top: .5rem;
  border-radius: 10px;
  width: 160px;
  overflow: hidden;
  z-index: 999;
  display: none; }
  .list li {
    list-style: none;
    background: #fff;
    cursor: default; }
    .list li a {
      text-decoration: none;
      color: #000;
      width: 100%;
      display: block;
      padding: .5rem 1.5rem;
      transition: .2s ease; }
      .list li a:hover {
        background: #ccc; }
      .list li a:active {
        background: #555;
        color: #fff; }
      .list li a:focus {
        outline: none !important; }
    .list li.special {
      background: #f3f3f3;
      padding: 1rem 1.5rem; }
  .list::selection, .list *::selection {
    background: transparent;
    color: inherit; }

.listOpen {
  display: block;
  -webkit-animation: listOpen .3s;
  -moz-animation: listOpen .3s;
  animation: listOpen .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.listClose {
  display: none; }

#authorization {
  font-family: "Lato", serif; }
  #authorization .header {
    width: 100%;
    height: 200px;
    border-top: 1.5rem solid #512DA8;
    background: #673AB7;
    position: relative;
    box-shadow: 0 0.1rem 0.7rem rgba(50, 50, 50, 0.5);
    animation: changeBackgroundHeaderColor 50s ease 2s infinite alternate; }
    #authorization .header .welcomeText {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.2rem; }
  #authorization .content {
    padding-bottom: 5rem; }
    #authorization .content .form {
      padding-top: 3rem;
      background: #FAFAFA;
      box-shadow: 0 0.1rem 0.7rem rgba(50, 50, 50, 0.5);
      margin-top: 1rem; }
  #authorization .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #E0E0E0 url("/images/logo_dark.png") center center no-repeat;
    box-shadow: 0 -0.1rem 0.7rem rgba(50, 50, 50, 0.5); }
    #authorization .footer .row {
      padding: 1rem; }

.header {
  background: #fff;
  color: #000;
  border-bottom: .2rem solid #555;
  font-family: "Lato", "Arial", serif;
  font-weight: 400; }
  .header .title {
    float: left;
    font-size: 1.8rem;
    padding: .5rem 1rem;
    color: #555;
    text-decoration: none; }
  .header .user {
    float: right; }
    .header .user .avatar {
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      margin: 2px 0;
      background: #fff;
      border: .2rem solid #fff; }
      .header .user .avatar .first_letter {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -55%);
        -moz-transform: translate(-50%, -55%);
        -ms-transform: translate(-50%, -55%);
        -o-transform: translate(-50%, -55%);
        transform: translate(-50%, -55%);
        font-size: 2rem;
        color: #fff; }
      .header .user .avatar::selection, .header .user .avatar *::selection {
        background-color: transparent; }
    .header .user #userList .name, .header .user #userList .email {
      width: 100%;
      display: block;
      font-size: 1.7rem; }
    .header .user #userList .email {
      font-size: 1.3rem; }

#default {
  background-color: #f8f8f8; }
  #default .categoriesText {
    font-family: "Roboto", "Arial", serif;
    font-weight: 100;
    text-align: center;
    font-size: 4rem;
    margin: 10rem 0 1rem 0; }
  #default .categoriesBubbles {
    text-align: center; }
    #default .categoriesBubbles .bubble {
      -webkit-animation: changeShadows 10s linear 1s infinite;
      -moz-animation: changeShadows 10s linear 1s infinite;
      -o-animation: changeShadows 10s linear 1s infinite;
      animation: changeShadows 10s linear 1s infinite;
      border-radius: 50%;
      position: relative;
      width: 64px;
      height: 64px;
      display: inline-block;
      margin: 1rem; }
      #default .categoriesBubbles .bubble a {
        color: #fff;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%; }
      #default .categoriesBubbles .bubble .title {
        font-size: 1.3rem; }
      #default .categoriesBubbles .bubble .icon {
        font-size: 64px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      #default .categoriesBubbles .bubble.size64 {
        width: 64px;
        height: 64px; }
        #default .categoriesBubbles .bubble.size64 .icon {
          font-size: 32px; }
      #default .categoriesBubbles .bubble.size128 {
        width: 128px;
        height: 128px; }
        #default .categoriesBubbles .bubble.size128 .icon {
          font-size: 64px; }

.menu {
  padding: 1rem 0 0 1.5rem;
  margin: 0; }
  .menu li {
    list-style-type: none;
    display: block;
    width: 100%;
    margin: .5rem 0; }
    .menu li > a {
      text-decoration: none;
      display: block; }
  .menu .bubble {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    display: block;
    float: left;
    margin-right: 1rem; }
    .menu .bubble a {
      color: #fff; }
    .menu .bubble .icon {
      font-size: 1.5rem;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .menu .name {
    position: relative;
    display: block;
    height: 32px;
    line-height: 32px;
    color: #555; }
    .menu .name:focus {
      outline: none !important; }

.fileManager {
  padding: 1rem; }
  .fileManager .wrapBlock {
    border: .2rem solid #555;
    border-radius: 10px;
    overflow: hidden; }
  .fileManager .header {
    border: none;
    padding: .5rem; }
    .fileManager .header .navigationBlock {
      width: 10%;
      float: left;
      display: block; }
      @media (max-width: 768px) {
        .fileManager .header .navigationBlock {
          width: 50%; } }
      .fileManager .header .navigationBlock .prevButton, .fileManager .header .navigationBlock .nextButton, .fileManager .header .navigationBlock .homeButton {
        transition: .3s ease;
        width: 24px;
        height: 24px;
        display: block;
        cursor: pointer;
        position: relative;
        background-color: #E0E0E0;
        color: #000;
        border-radius: 50%;
        text-decoration: none;
        display: inline-block;
        margin: 0 .5rem; }
        .fileManager .header .navigationBlock .prevButton .icon, .fileManager .header .navigationBlock .nextButton .icon, .fileManager .header .navigationBlock .homeButton .icon {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #000; }
          .fileManager .header .navigationBlock .prevButton .icon::-moz-focus-inner, .fileManager .header .navigationBlock .nextButton .icon::-moz-focus-inner, .fileManager .header .navigationBlock .homeButton .icon::-moz-focus-inner {
            border: 0; }
        .fileManager .header .navigationBlock .prevButton.active, .fileManager .header .navigationBlock .nextButton.active, .fileManager .header .navigationBlock .homeButton.active {
          background: #555;
          color: #fff; }
        .fileManager .header .navigationBlock .prevButton:hover, .fileManager .header .navigationBlock .nextButton:hover, .fileManager .header .navigationBlock .homeButton:hover {
          background: #BDBDBD; }
        .fileManager .header .navigationBlock .prevButton::selection, .fileManager .header .navigationBlock .prevButton::-moz-selection, .fileManager .header .navigationBlock .nextButton::selection, .fileManager .header .navigationBlock .nextButton::-moz-selection, .fileManager .header .navigationBlock .homeButton::selection, .fileManager .header .navigationBlock .homeButton::-moz-selection {
          background: transparent; }
        .fileManager .header .navigationBlock .prevButton:focus, .fileManager .header .navigationBlock .nextButton:focus, .fileManager .header .navigationBlock .homeButton:focus {
          outline: none !important; }
      .fileManager .header .navigationBlock .homeButton .icon {
        font-size: 1.5rem; }
    .fileManager .header .breadcrumsBlock {
      display: inline-block;
      width: 60%;
      height: 24px;
      padding: 0 1rem;
      float: left; }
      .fileManager .header .breadcrumsBlock .breadcrumsElm {
        display: block;
        width: 100%;
        height: 24px; }
      @media (max-width: 768px) {
        .fileManager .header .breadcrumsBlock {
          display: none; } }
    .fileManager .header .buttonsBlock {
      width: 30%;
      float: left;
      text-align: right;
      padding: 0 1rem;
      display: block; }
      @media (max-width: 768px) {
        .fileManager .header .buttonsBlock {
          width: 50%; } }
      .fileManager .header .buttonsBlock .settingsButton, .fileManager .header .buttonsBlock .addFolderButton, .fileManager .header .buttonsBlock .pasteButton, .fileManager .header .buttonsBlock .fileControl {
        transition: .3s ease;
        width: 24px;
        height: 24px;
        display: block;
        cursor: pointer;
        position: relative;
        background-color: #E0E0E0;
        color: #000;
        border-radius: 50%;
        text-decoration: none;
        display: block;
        float: right;
        margin: 0 .5rem; }
        .fileManager .header .buttonsBlock .settingsButton .icon, .fileManager .header .buttonsBlock .addFolderButton .icon, .fileManager .header .buttonsBlock .pasteButton .icon, .fileManager .header .buttonsBlock .fileControl .icon {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #000; }
          .fileManager .header .buttonsBlock .settingsButton .icon::-moz-focus-inner, .fileManager .header .buttonsBlock .addFolderButton .icon::-moz-focus-inner, .fileManager .header .buttonsBlock .pasteButton .icon::-moz-focus-inner, .fileManager .header .buttonsBlock .fileControl .icon::-moz-focus-inner {
            border: 0; }
        .fileManager .header .buttonsBlock .settingsButton.active, .fileManager .header .buttonsBlock .addFolderButton.active, .fileManager .header .buttonsBlock .pasteButton.active, .fileManager .header .buttonsBlock .fileControl.active {
          background: #555;
          color: #fff; }
        .fileManager .header .buttonsBlock .settingsButton:hover, .fileManager .header .buttonsBlock .addFolderButton:hover, .fileManager .header .buttonsBlock .pasteButton:hover, .fileManager .header .buttonsBlock .fileControl:hover {
          background: #BDBDBD; }
        .fileManager .header .buttonsBlock .settingsButton::selection, .fileManager .header .buttonsBlock .settingsButton::-moz-selection, .fileManager .header .buttonsBlock .addFolderButton::selection, .fileManager .header .buttonsBlock .addFolderButton::-moz-selection, .fileManager .header .buttonsBlock .pasteButton::selection, .fileManager .header .buttonsBlock .pasteButton::-moz-selection, .fileManager .header .buttonsBlock .fileControl::selection, .fileManager .header .buttonsBlock .fileControl::-moz-selection {
          background: transparent; }
        .fileManager .header .buttonsBlock .settingsButton:focus, .fileManager .header .buttonsBlock .addFolderButton:focus, .fileManager .header .buttonsBlock .pasteButton:focus, .fileManager .header .buttonsBlock .fileControl:focus {
          outline: none !important; }
        .fileManager .header .buttonsBlock .settingsButton .icon, .fileManager .header .buttonsBlock .addFolderButton .icon, .fileManager .header .buttonsBlock .pasteButton .icon, .fileManager .header .buttonsBlock .fileControl .icon {
          font-size: 1.2rem; }
      .fileManager .header .buttonsBlock .settingsButton {
        background-color: #F44336; }
        .fileManager .header .buttonsBlock .settingsButton:hover {
          background-color: #D32F2F; }
        .fileManager .header .buttonsBlock .settingsButton .icon {
          color: #fff; }
      .fileManager .header .buttonsBlock .addFolderButton {
        background-color: #FFD600; }
        .fileManager .header .buttonsBlock .addFolderButton:hover {
          background-color: #FBC02D; }
        .fileManager .header .buttonsBlock .addFolderButton .icon {
          color: #000; }
      .fileManager .header .buttonsBlock .uploadForm {
        padding: 0;
        margin: 0 .5rem;
        display: block;
        position: relative;
        float: right; }
        .fileManager .header .buttonsBlock .uploadForm .fileControl {
          background: #4CAF50;
          width: auto;
          height: auto;
          margin: 2px 0 0 0;
          padding: .4rem .5rem; }
          .fileManager .header .buttonsBlock .uploadForm .fileControl:hover {
            background-color: #388E3C; }
          .fileManager .header .buttonsBlock .uploadForm .fileControl .icon {
            color: #fff; }
        .fileManager .header .buttonsBlock .uploadForm input[type="file"] {
          position: absolute;
          margin: 0;
          padding: 0;
          top: 0;
          left: 0;
          font-size: .1rem;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
          width: 24px;
          height: 24px; }
      .fileManager .header .buttonsBlock .pasteButton {
        background: #3F51B5; }
        .fileManager .header .buttonsBlock .pasteButton:hover {
          background-color: #303F9F; }
        .fileManager .header .buttonsBlock .pasteButton .icon {
          color: #fff; }
  .fileManager .columns {
    background: #fff;
    border: .1rem solid #ccc;
    border-left: none;
    border-right: none;
    width: 100%;
    min-height: 2rem; }
  .fileManager .content {
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    transition: .3s linear;
    border-top: .1rem solid #ccc; }
    .fileManager .content .element {
      border-bottom: .1rem solid #e7e7e7;
      padding: .5rem 0;
      cursor: pointer; }
      .fileManager .content .element .elementThumbWrap {
        text-align: center;
        position: relative; }
        .fileManager .content .element .elementThumbWrap img {
          padding: 1rem;
          max-height: 100%;
          margin: 0 auto; }
          @media (max-width: 480px) {
            .fileManager .content .element .elementThumbWrap img {
              padding: 0 2rem 0 0;
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%); } }
        .fileManager .content .element .elementThumbWrap i {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
      .fileManager .content .element .elementNameWrap {
        position: relative; }
        .fileManager .content .element .elementNameWrap span {
          position: absolute;
          top: 50%;
          word-break: break-word;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
          @media (max-width: 480px) {
            .fileManager .content .element .elementNameWrap span {
              padding-right: 1rem; } }
      .fileManager .content .element .elementSizeWrap span {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
      .fileManager .content .element.copy {
        border-left: .2rem solid #FF5722; }
      .fileManager .content .element.move {
        border-left: .2rem solid #009688; }
      .fileManager .content .element.row {
        margin: 0; }
      .fileManager .content .element.selected {
        background: #fafafa; }
      .fileManager .content .element > div {
        height: 40px; }
        @media (max-width: 480px) {
          .fileManager .content .element > div {
            height: auto;
            min-height: 60px; } }
    .fileManager .content .emptyContent {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .fileManager .content .emptyContent .emptyIcon {
        font-size: 4rem;
        margin: 1rem; }
      .fileManager .content .emptyContent .emptyText {
        font-size: 3rem;
        font-weight: 300; }

.tableWrap {
  min-height: 90%;
  background-color: #fff;
  border: .2rem solid #555;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
  padding-bottom: 4rem;
  position: relative; }
  .tableWrap .tableStandard {
    margin: 0 !important; }
    .tableWrap .tableStandard thead th {
      border: none !important;
      font-weight: 400 !important;
      padding: .6rem .8rem !important;
      font-size: 1.5rem; }
    .tableWrap .tableStandard tbody .tableRow:first-of-type td {
      border-top: .1rem solid #ccc !important; }
    .tableWrap .tableStandard tbody .tableRow td {
      border: none !important;
      padding: 1rem .8rem !important;
      font-size: 1.4rem; }
      .tableWrap .tableStandard tbody .tableRow td .link {
        color: #555; }
  .tableWrap .tableFoot {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0; }
    .tableWrap .tableFoot .actions {
      float: left;
      padding: .5rem 1rem; }
      .tableWrap .tableFoot .actions .action {
        transition: .3s ease;
        min-width: 100px;
        display: block;
        cursor: pointer;
        position: relative;
        background-color: #E0E0E0;
        color: #000;
        outline: none;
        border: none;
        box-shadow: none;
        padding: .5rem;
        text-decoration: none;
        display: inline-block !important;
        margin: 0 .5rem !important; }
        .tableWrap .tableFoot .actions .action .icon {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #000; }
          .tableWrap .tableFoot .actions .action .icon::-moz-focus-inner {
            border: 0; }
        .tableWrap .tableFoot .actions .action.active {
          background: #555;
          color: #fff; }
        .tableWrap .tableFoot .actions .action:hover {
          background: #BDBDBD;
          color: #000; }
        .tableWrap .tableFoot .actions .action::selection, .tableWrap .tableFoot .actions .action::-moz-selection {
          background: transparent; }
        .tableWrap .tableFoot .actions .action:focus {
          outline: none !important; }
      .tableWrap .tableFoot .actions .action:first-of-type {
        margin: 0 .5rem 0 0 !important; }
      .tableWrap .tableFoot .actions .add {
        transition: .3s ease;
        min-width: 100px;
        display: block;
        cursor: pointer;
        position: relative;
        background-color: #4CAF50;
        color: #fff;
        outline: none;
        border: none;
        box-shadow: none;
        padding: .5rem;
        text-decoration: none; }
        .tableWrap .tableFoot .actions .add .icon {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #fff; }
          .tableWrap .tableFoot .actions .add .icon::-moz-focus-inner {
            border: 0; }
        .tableWrap .tableFoot .actions .add.active {
          background: #555;
          color: #fff; }
        .tableWrap .tableFoot .actions .add:hover {
          background: #388E3C;
          color: #fff; }
        .tableWrap .tableFoot .actions .add::selection, .tableWrap .tableFoot .actions .add::-moz-selection {
          background: transparent; }
        .tableWrap .tableFoot .actions .add:focus {
          outline: none !important; }
      .tableWrap .tableFoot .actions .deleteAll {
        transition: .3s ease;
        min-width: 100px;
        display: block;
        cursor: pointer;
        position: relative;
        background-color: #F44336;
        color: #fff;
        outline: none;
        border: none;
        box-shadow: none;
        padding: .5rem;
        text-decoration: none; }
        .tableWrap .tableFoot .actions .deleteAll .icon {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #fff; }
          .tableWrap .tableFoot .actions .deleteAll .icon::-moz-focus-inner {
            border: 0; }
        .tableWrap .tableFoot .actions .deleteAll.active {
          background: #555;
          color: #fff; }
        .tableWrap .tableFoot .actions .deleteAll:hover {
          background: #D32F2F;
          color: #fff; }
        .tableWrap .tableFoot .actions .deleteAll::selection, .tableWrap .tableFoot .actions .deleteAll::-moz-selection {
          background: transparent; }
        .tableWrap .tableFoot .actions .deleteAll:focus {
          outline: none !important; }
    .tableWrap .tableFoot .pagination {
      float: right;
      margin: 0;
      border-radius: 0;
      padding: .5rem 1rem; }
      .tableWrap .tableFoot .pagination .action {
        transition: .3s ease;
        width: 24px;
        height: 24px;
        display: block;
        cursor: pointer;
        position: relative;
        background-color: #E0E0E0;
        color: #000;
        border-radius: 50%;
        text-decoration: none;
        display: inline-block;
        margin: 0 .5rem; }
        .tableWrap .tableFoot .pagination .action .icon {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #000; }
          .tableWrap .tableFoot .pagination .action .icon::-moz-focus-inner {
            border: 0; }
        .tableWrap .tableFoot .pagination .action.active {
          background: #555;
          color: #fff; }
        .tableWrap .tableFoot .pagination .action:hover {
          background: #BDBDBD; }
        .tableWrap .tableFoot .pagination .action::selection, .tableWrap .tableFoot .pagination .action::-moz-selection {
          background: transparent; }
        .tableWrap .tableFoot .pagination .action:focus {
          outline: none !important; }
        .tableWrap .tableFoot .pagination .action::before {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #000; }
          .tableWrap .tableFoot .pagination .action::before::-moz-focus-inner {
            border: 0; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", serif;
  font-weight: 400; }

.wrapper {
  min-height: 100%;
  position: relative; }
  .wrapper .content {
    min-height: 90%; }

/*# sourceMappingURL=app.css.map */
