@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500|Lato:400,300,700&subset=latin,latin-ext);
@import "_variables", "_others", "_mixins", "_animations", "_fluid" ,"_form", "_list", "_authorization", "_header", "_default", "_menu", "_fileManager", "_table";

html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  @include font;
}

.wrapper{
  min-height: 100%;
  position: relative;

  .content{
    min-height: 90%;
  }
}